<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Say Coding Ninja
        </title>
        <link rel="shortcut icon"
            href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRapRftqP7fqgd08NxYJ0qc7Utp9O5lszLnGw&usqp=CAU"
            type="image/x-icon">

        <link rel="stylesheet" href="./css/style.css" type="text/css">
        <!-- Font Awesome -->
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->

        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
            rel="stylesheet">

        <!-- Material Design Bootstrap -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
            rel="stylesheet">

    </head>
    <body>

        <div class="containerFull container-fluid">

            <div class="setBorder">
                <img src="./image/borderRight.png" alt="" id="img1">

                <img src="./image/top.png" alt="" id="imgTop">
                <div class="title p-4 text-center text-white">
                    <h1>
                        🍹 Get Certificate From Coding Ninja
                    </h1>
                </div>

                <img src="./image/borderRight.png" alt="" id="img2">
            </div>


            <form action="/send_name" class="form" method="">
                <!-- Material input -->
                <div class="center_div">

                    <div class="md-form form_md">
                        <input type="text" id="form1" name="name"
                            class="form-control
                            text-white" required="true">
                        <label for="form1">Enter Your Name ⭐</label>
                    </div>

                    <div class="btnSend">
                        <button type="submit" class="btn btn-deep-purple">
                            Get Certificate &nbsp;<i class="fa fa-arrow-right"></i>
                        </button>
                    </div>

                </div>

            </form>

            <div class="content">
                <h3>
                    Trust ⛈ <span>
                        12000
                    </span>

                    Student Already Get Certificate
                </h3>
            </div>

            <div class="footer">
                <img src="./image/bottom.png" alt="" id="footer_image">
            </div>

            <div class="svg">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1040 320">
                    <path fill="#000b76" fill-opacity="1"
                        d="M0,32L48,80C96,128,192,224,288,250.7C384,277,480,235,576,202.7C672,171,768,149,864,160C960,171,1056,213,1152,208C1248,203,1344,149,1392,122.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
                </svg>
            </div>
        </div>
    </body>
    <!-- JQuery -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="./js/client.js" type="text/javascript"></script>
</html>